{% extends "base.html" %}
{% load crispy_forms_tags %}

{% 	block title %}Forgot Your Password? - {{ block.super }}{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
	<div class="container bg-white mt-5 justify-content-center shadow-lg p-5 w-50">
		<div>
			<h1>Forgot your password?</h1>
			<p>Enter your email address below, and we'll email instructions for setting a new one.</p>
		</div>
		<form method="post" class="col-sm-12">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-primary btn-block">Send me instruction</button>
		</form>
	</div>
	</div>
{% endblock %}